<div class="cart-item" data-test-product={{this.product.name}}>
    <img class="cart-item__image" src={{this.product.image}} alt="">
    <div class="cart-item__info">
        <div class="cart-item__name-block">
            <div>
                {{this.product.name}}
            </div>
            <button 
                class="cart-item__remove-button" 
                type="button" {{on "click" (fn this.removeFromCart this.product.id)}}
                data-test-cart_remove_button
            >
                x
            </button>
        </div>
        <div class="cart-item__price-block">
            <div class="cart-item__price {{if this.productWithDiscount.price 'price--with-discount'}}">
                {{#if productWithDiscount.price}}
                    <div class="price-discount">
                        £{{this.productWithDiscount.price}}
                    </div>
                {{/if}}
                <div class="price-origin" data-test-product_price={{this.product.name}}>
                    £{{this.product.price}}
                </div>
            </div>
            <div class="cart-item__quantity-price">
                {{#if productWithDiscount}}
                    {{this.productWithDiscount.quantity}}
                {{/if}}
                <div data-test-product_quantity={{this.product.name}}>
                    quantity: {{this.product.quantity}}
                </div>
            </div>
        </div>
    </div>
</div>